@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');

body {
    background-color: #EFEFEF;
    font-family: "Inconsolata", monospace; 
    color: black;
    padding: 32px 200px 48px;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
}

h2 {
    font-size: 16px;
    font-weight: lighter;
}

h3 {
    font-size: 14px;
    font-weight: lighter;
    clear: both;
}

h4 {
    font-size: 14px;
    font-weight: lighter;
}

p {
    margin-bottom: 0rem;
}

div {
    padding-bottom: 12px;
    padding-top:0px;
}

a {
    color: black;
}

a:hover {
    color: grey;
}

.work--body {
    color: #656565;
    padding-top: 0px;
}

.work--body img {
    border-radius: 50%;
    z-index: 1;
    position: relative;
    margin-bottom: .375rem;
    width:96px;
    height:96px;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}